* {
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
}
#map {
  position: absolute;
  height: 100%;
  right: 0px;
  left: 270px;
  top: 0px;
}
#app {
  position: absolute;
  top: 20px;
  left: 20px;
}
#find {
  padding: 10px;
}
.content {
}
.times dl { 
  padding: 0px 10px;
  height: 160px;
}
dt {
  float: left;
  clear: both;
  padding: 0;
  margin: 0;
}
dd {
  border-left: 1px solid #444;
  float: right;
  padding: 0px 7px;
}
.store-time-info {
  color: #ff0000;
}
