<!DOCTYPE html>
<html>
  <head>
    <title>SAQ Finder</title>
<!--    <link href="style.css" media="all" rel="stylesheet" type="text/css"/> -->
    <script src="libs/json2.js"></script>
    <script src="libs/jquery-1.5.js"></script>
    <script src="libs/underscore-1.1.6.js"></script>
    <script src="libs/backbone.js"></script>
    <script src="libs/backbone-localstorage.js"></script>
    <script type="text/javascript" 
            src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script src="libs/styledmarker.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>

    <!-- app interface -->

    <div id="app" style="">
      
      <div class="title">
        <h1>SAQ Finder</h1>
      </div>
      
      <div class="content">
        <div id="search">
              <input id="address-input" placeholder="Where are you?" type="text" />
              <input id="find" type="button" value="Find Me"/>
        </div>
        
        <div id="loader"><img src="assets/ajax-loader.gif"/></div>

        <div id="results">
          <ul id="results-list"></ul>
        </div>
      </div>
    </div>

    <div id="infopane-container"></div>
    
    <div id="map"></div>

    <!-- templates -->
    
    <script type="text/template" id="store-template">
      <div class="store">
        <div class="display">
          <div class="store-info"></div>
        </div>
      </div>
    </script>

    <script type="text/template" id="infopane-template">
      <div class="infopane">
        <span class="title">SAQ <%= storeType %></span>
        <div class="info-body">
          <p>Phone: <%= storePhone %></p>
          <p class="store-time-info"><%= storeTimeInfo %></p>
          <p class="times-head">Hours</p>
          <div class="times-body">
            <table>
              <% _.each(times, function(hours) { %>
                <%= hours_template({ hours: hours }) %>
              <% }); %>
            </table>  
          </div>
        </div>
        <input id="walk" type="button" value="Walking Directions"/>
      </div>
    </script>
    
    <script type="text/template" id="hours-template">
      <tr>
      <td><%= hours.day %></td>
      <% if (hours.open === 'F') { %>
      <td>Closed</td>
      <% } else { %>
      <td><%= hours.open %> - <%= hours.close %></td>
      <% } %>
      </tr>
    </script>
  </body>
</html>
